.transparent-button, button.dark-blue-button, div.blue-select, input.search-bar {
    margin: 0px 5px 0px 0px;
}
.search-banner-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 0px;
    background: linear-gradient(90deg, #005587 0%, #2774AE 51.04%, #8BB8E8 100%);
    width: 100vw;
    min-height: 360px;
    text-align: center;
}

.search-banner-text-container { 
    color: white;
    width: 500px;
    margin: 20px;
}

input.search-bar { 
    border: none;
    width: 350px;
    padding: 0px 10px;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar-container { 
    display: flex;
    justify-content: space-around;
    /* width: 880px; */
    height: 40px;
}

.dark-blue-button {    
    padding: 9px 20px;
    background-color: #005587;
    color: white;
    border: none;
    font-size: 18px;
}

.transparent-button { 
    color: white;
    padding: 9px 20px;
    border: 1px solid #8BB8E8;
}

.blue-select { 
    display: inline-block;
    width: 200px;
    padding: 10px 0.5em;
    font-size: 14px;
    display: inline;
    cursor: pointer;
    background-color: #8BB8E8;
    color: #005587;
}